@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.nav {
  position: relative;
  width: 100%;
  height: 5.9rem;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.nav__brand,
.nav__brand:link,
.nav__brand:visited {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 500;
  font-family: "Lobster", cursive;
  color: white;
}

.nav__links {
  margin-left: auto !important;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.nav__link,
.nav__link:link,
.nav__link:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 230%;
  transition: all 0.4s;
  cursor: pointer !important;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}
.nav__link:hover,
.nav__link:active {
  background-position: 100%;
  /* color: rgba(53, 221, 255, 1); */
  color: #444;
  transform: translateX(1rem);
}

.nav__link:not(:last-child) {
  margin-right: 3rem;
}

.hamburger__icon {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  display: none;
  z-index: 1000;
  color: white;
  padding-right: 1rem;
  font-size: 2rem;
}

@media only screen and (max-width: 768px) {
  .nav {
    padding-top: 1.5rem;
  }
  .hamburger__icon {
    display: block;
  }

  .nav__links {
    position: fixed;
    background: #000;

    height: 100vh;
    width: 100%;
    top: 0.5rem;
    right: 0;

    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    align-content: center;

    clip-path: circle(2rem at 90% -10%);
    -webkit-clip-path: circle(2rem at 90% -10%);
    transition: all 1s ease-out;
  }

  .nav__links > * {
    margin-bottom: 5rem !important;
  }

  .nav__links.open {
    clip-path: circle(100rem at 90% -10%);
    -webkit-clip-path: circle(100rem at 90% -10%);
  }
}
.header__logo img {
  height: 8rem;
  object-fit: contain;
}
.header__logo {
  width: 25%;
}
