.service {
  width: 100%;
  height: 87vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  padding: 10rem;
}

.service__left {
  width: 50rem;
}
.service__left > h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 3rem;
  border-bottom: 2px solid #000;
  border-bottom-right-radius: 10px;
}

.service__left > p {
  font-size: 1.5rem;
  color: gray;
  margin-bottom: 1rem;
}

.service__right > img {
  height: 40rem;
}

@media only screen and (max-width: 768px) {
  .service {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
  }

  .service__right > img {
    height: 30rem;
    width: 98%;
  }
  .service__left {
    width: 40rem;
  }
}
